
.vc_custom_1494505945626{background-position:88% 100%!important;}

 @media (max-width: 1024px) and (min-width: 767px) {
            .vc_custom_1494505945626 {
			    background-image: none !important;
            }
        }
        .vc_custom_1518180269755 {background-position:0 100%!important;}
        .btn.stm-button_6000126a04133 .btn__icon {background-color: #ffffff;color: #58c747 !important;width:49px;}.btn.stm-button_6000126a04133:hover .btn__icon {background-color: #ffffff;color: #58c747 !important;}.btn.stm-button_6000126a04133 {padding-right:64px !important;}
        		body.stm_buttons_style_2 .btn.stm-button_6000126a04133.btn_outline.btn_gradient,
                body.stm_buttons_style_2 .btn.stm-button_6000126a04133.btn_solid.btn_gradient,
        		body.stm_buttons_style_2 .btn.stm-button_6000126a04133 {color: #ffffff !important}
        		body.stm_buttons_style_2 .btn.stm-button_6000126a04133.btn_outline.btn_gradient:hover,
                body.stm_buttons_style_2 .btn.stm-button_6000126a04133.btn_solid.btn_gradient:hover,
        		body.stm_buttons_style_2 .btn.stm-button_6000126a04133:hover {color: #ffffff !important}
        .stm-counter > i {
                background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 100%)
            }
        .stm-counter > i {
                background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 100%)
            }
        .stm-counter > i {
                background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 100%)
            }
        .stm-counter > i {
                background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 100%)
            }

        #stm_carousel_AWpwhaIZFC .stm_carousel__single img {filter: grayscale(100%);}
        #stm_carousel_AWpwhaIZFC .stm_carousel__single:hover img {filter: grayscale(0)}

                                                            